**.pyc
/*
!.gitignore
!README.md
!/ScanCraft/
/ScanCraft/*
!/ScanCraft/command/
!/ScanCraft/packages/
/ScanCraft/packages/*
!/ScanCraft/Scan/
!/ScanCraft/Script/
!/ScanCraft/*.py
!/ScanCraft/scenarios
!/ScanCraft/laboratory
/ScanCraft/laboratory/*
!/ScanCraft/laboratory/*.ipynb*
!/ScanCraft/laboratory/chips/
