**.pyc
/*
!.gitignore
!README.md
!/ScanCraft/
/ScanCraft/*
!/ScanCraft/command/
!/ScanCraft/Scan/
!/ScanCraft/Script/
!/ScanCraft/*.py
!/ScanCraft/laboratory
/ScanCraft/laboratory/*
!/ScanCraft/laboratory/*.ipynb
!/ScanCraft/laboratory/*.py
